/* Use this file to use your own styles*/
.funny-text {
	color: #8020cc;
	text-align: center;
	font-style: italic;
	text-decoration: underline #ffcc00;
}
.funny-text-education {
	color: #66AA00;
	text-align: center;
	font-style: oblique;
	text-decoration: underline #66A; 
}

.funky-text-director {
	color: brown;
	text-align: justify;
	font-style: italic;
}

/* Import declaration to use Google Fonts - check https://fonts.google.com/ for details */

h4 {
  font-family: "Madimi One", sans-serif;
  font-weight: 400;
  font-style: normal;
}


/* Styles for the body */

body {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 150;
  font-style: normal;
}

/* Styles for custom classes in the document. (There are more, try to find them out!) */

.resume-header {
    background-color: #E0ABF2;
}

.resume-main {
	background-color: #fffefc;
}

.resume-aside {
	background-color: #BD9CD4;
}

/* Styles for lists in the document */

.biography-details li::before, .skill-list li::before {
	content: ">";
	font-weight: 800;
	display: inline-block;
	width: 1em;
	margin-left: -1em;
}

.biography-details li::before {
	color: #EE7623;
}

.biography-details li, .skill-list li {
	padding-left: 1em;
}

/* Styles for contact icons */

.contact-icon {
	height: 1em;
	flex-basis: 1.4em;
}
